
.col-12 .col-md-6, .col-lg-4{
    border: 1px solid red;
}


/* COMMON */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.ms_small_container {
    width: 70%;
    margin: 0 auto;
}

.ms_smaller_container{
    width: 60%;
    margin: 0 auto;
}


 /* \\\\\\\\\\\\\\\\\\\   HEADER  \\\\\\\\\\\\\   */

header {
    height: 60px;
    background-color: lightblue;
    display: flex;
    align-items: center;
}

header nav {
    text-align: right;
}

.ms_main_menu li {
    display: inline-block;
    font-size: 15px;
}
.ms_main_menu a {
    text-decoration: none;
}

/* \\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\ */

/* JUMBOTRON  */

.jumbotron-img{
     margin: 0 auto;
}

.jumbotron-text{
    text-align: center;
}

.jumbotron-text h2{
    font-size: 0.7rem;
}

/* PORTFOLIO   */


.portfolio-text{
    text-align: center;
}

/* ABOUT   */

.about-text{
    text-align: center;
}

.download-btn{
    text-align: center;
}

/* CONTACT ME  */

