
.col-12 .col-md-6, .col-lg-4{
    border: 1px solid red;
}


/* COMMON */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.ms_small_container {
    width: 70%;
    max-width: 1170px;
    margin: 0 auto;
}

.ms_smaller_container{
    width: 60%;
    max-width: 1170px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    align-items: center;
    
}

/* Utilities  */

section{
    padding: 3rem 0;
}

section.bg-green{
    background-color: #1abc9c;
    color: white;
}

.section-header{
    margin-bottom: 1.2rem;
}

.section-header h1{
    font-size: 2rem;
    margin-top: 0.3rem;
}

.section-header h2{
    font-size: 1.2rem;
}

 /* \\\\\\\\\\\\\\\\\\\   HEADER  \\\\\\\\\\\\\   */

header {
    height: 60px;
    background-color:#2c3e50;
    display: flex;
    align-items: center;
    color: white;
    
}

 .start-bootstrap{
    font-size: 1rem;
    font-weight: 600;
}

header nav {
    text-align: right;
}

.ms_main_menu li {
    height: 100%;
    display: inline-block;
 }

.ms_main_menu a {
    text-decoration: none;
    color: inherit;
    font-size: 0.9rem;
    line-height: 100%;
    font-weight: 600;
    margin-right: 0.3rem;
   

}

/* \\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\ */

/* JUMBOTRON  */

.ms_jumbotron-img{
    max-width: 40%;
     margin: 0 auto;
}

/* PORTFOLIO   */

.portfolio-card{
    background-color: blue;
}

/* ABOUT   */



.download-btn{
    text-align: center;
}

/* CONTACT ME  */





/* ////////////////// FOOTER //////////////// */

footer{
    color: white;
}


.footer-links{
    padding: 3rem 0;
    background-color: grey;
}


.copyright{
    background-color: blueviolet;
}

.copyright h4{
    font-size: 1rem;
}